/*-------------
    utilities
---------------*/
body{
    width: 1200px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
}
h1{
    font-size: 52px;
}

/*--------------------------
    header container style
----------------------------*/
.logo{
    margin-top: 50px;
    margin-bottom: 0px;
    color: #3A3A3A;
}
.head-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-img{
    width: 85%;
}
.button{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #E02C6D;
    transition: all 0.3s ease;
}
.button:hover{
    padding: 15px;
}
.button-text{
    margin-right: 10px;
}
/*--------------------------
    second container style
----------------------------*/
.section-title{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px;
}
.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.collection {
    padding: 10px;
    width: 237px;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.466);
    border-radius: 15px;
    margin-top: 60px;
}
.collection .item-banner img{
    width: 239px;
}
.product-title{
    font-size: 28px;
    color: #18191F;
    margin-top: 10px;
    margin-bottom: 0px;
}
.price{
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.product-info{
    align-items: center;
    justify-content: space-between;
}
.rating{
    font-size: 12px;
    font-weight: bold;
    color: #787885;
}
.fa-star{
    font-size: 9px;
    color: #FB890F;
}
.short-info{
    font-size: 13px;
    font-weight: bold;
    color: #787885;
}
.more{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
    padding: 15px;
    margin-right: 55px;
    color: #E02C6D;
}
.more-arrow{
    margin-left: 10px;
}
/*------------------------------
    end second container style
-------------------------------*/
.form-body{
    margin-top: 30px;
    margin-left: 30%;
}
.formGroup{
    width: 100%;
    position: relative;
}
.formGroup input {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border-style: 2px solid #E02C6D;
    padding-left: 30px;
}
.formGroup i {
    position: absolute;
    left: 0px;
    top: 0px;
    color: grey;
    font-size: smaller;
    margin: 10px !important;
}
input::placeholder {
    position: relative;
    left: 10px;
    font-family: 'Poppins', sans-serif;
}
.btn{
    width: 20%;
    padding: 15px;
    background-color: #E02C6D;
    margin-top: 15px;
    color: lavender;
    border-radius: 30px;
    border-style: none;
    margin-bottom: 50px;
}
.btn-signup{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.btn:hover, .btn2:hover, .icon:hover{
    background-color: rgba(247, 15, 170, 0.781);
    color: whitesmoke;
}
/*------------------------------
    end form container style
-------------------------------*/
.footer{
    background-color: #0A0826;
    width: 100%;
    padding: 40px 0;
}
.footer-container{
    width: 1080px;
    margin: auto;
}
.footer-title{
    text-align: center;
    color: #ffffff;
    font-weight: normal;
}
.footer-text{
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 50px;
}
.social-icon{
    text-align: center;
}
.social{
    font-size: 22px;
    color:#ffffff;
    padding: 8px;
}
/*------------------------------
    start media query style
-------------------------------*/

/*---for mobile deveces---*/

@media only screen and (max-width:688px) {
    .logo{
        text-align: center;
    }
    .head-container{
        display: inline;
        text-align: center;
    }
    .img{
        width: 50%;
    }
    .section-title{
        text-align: center;
    }
    .collections{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .formGroup{
        width: 50%;
        position: relative;
    }
    
}

/*---for tablet deveces---*/
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .logo{
        text-align: center;
    }
    .head-container{
        display: inline;
        text-align: center;
    }
    .img{
        width: 70%;
    }
    .collections{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .formGroup{
        width: 100%;
    }
    .footer{
        text-align: center;
        width: 100%;
    }
    .footer-container{
        width: 80%;
        margin: auto;
    }
    
}